<!-- Footer -->
<footer class="card-footer" style="margin-top: 150px">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-muted">About me</h5>
        <p class="text-justify text-muted">
          Shankar is an experienced software developer with 5 years of experience.
        </p>
        <p class="text-justify text-muted">
          He has good experience in backend development with Java,Spring Boot,Rest Api,
          Spring mvc,<br>
          Oracle,MySql along with Data Structure and Algorithms<br><br>
          On the web side,I have experince in Angular,TS,JS,CSS,HTML,Bootstrap.
        </p>
        <p class="text-justify text-muted">
          Currently, I am working with Oracle India on Fusion Applications as a Senior Applications Engineer.
          <br>
          Please send me a mail if you would like to contribute.
        </p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-muted mt-3 mb-4">Contact information</h5>

        <ul class="list-unstyled text-muted">
          <li>
            <a href="mailto:shankar112kumar@gmail.com"><b>Email me</b></a>
          </li>
          <li>
            <a href="https://github.com/shanker9994"><b>Github</b></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/shankar-kumar-9310b567/"><b>Linkedin</b></a>
          </li>
        </ul>



      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-muted">© 2019 Copyright:
    <a href="https://springbootjavablog.com" class="text-muted"> springbootjavablog.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
