<!DOCTYPE html>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 col-md-offset-5 mt-5">

      <form (ngSubmit)="onUserDataSubmit(userData)" #userData=ngForm>
        <div class="form-group">
          <label for="userEmail">Email Id</label>
          <input type="email" class="form-control" name="userEmail" required [(ngModel)]="userEmail" #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            <span class="help-block">Email is required</span>
          </div>
          <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span> -->

        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" required class="form-control" name="userPassword" [(ngModel)]=" userPassword"
            #passwordVal="ngModel">
          <div [hidden]="passwordVal.valid || passwordVal.pristine" class="alert alert-danger">
            Password is required
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userData.valid">Sign up</button> |
        <button type="submit" class="btn btn-primary">Switch to Login</button>
      </form>
    </div>
  </div>

</div>
